body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1;
  width: 100%;
  padding-top: $navbar-height + 15px;
}
footer {
  background-color: $footer-bg;
  ul {
    margin: 3px;
    padding: 0;
    li {
      display: inline;
      white-space: nowrap;
    }
    li + li:before {
      content: '|';
      padding: 0 20px;
    }
  }
}